<div class="external__main">
  <div class="auth__content">
    <main class="auth__main"><div class="auth__header">
        <button type="button" class="back back-btn" >
          <img src="/images/left-arrow.svg" alt="" />
          <span>&nbsp;Go Back</span>
        </button>
        <a href="/">
          <span class="sr-only">Logo</span>
          <img
            alt="Kora Logo"
            class="logo__container"
            src="/images/cora-logo.png"
          />
        </a>
      </div>
      <div class="headings">
        <img src="/images/password.svg" alt="forgot password" /><h2>Forgot
          Password?</h2>
        <p>Enter the email address you used to register. We will send<br />you
          an email with instructions to reset your password.</p>
      </div>
      <div class="auth__content">
        <form action="#" class="forgot-password__form"><div class="input__wrap">
            <label for="email" class="screen-reader-only">Email Address</label>
            <input
              autocomplete="off"
              name="email"
              type="email"
              required=""
              value=""
            />
          </div>
          <div class="btn-wrapper">
            <button class="btn-kpy --full-blue" type="submit" disabled="">Reset
              Password</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>

<script>
  const backBtn = document.querySelectorAll(".back-btn");
  backBtn.forEach((btn) => { 
    btn.addEventListener("click", () => window.history.back()) 
    }
  )
</script>