<header>
  <div class="__container">
    <div class="__flex">
      <div class="logo">
        <a href="/" class="logo">
          <figure>
            <img src="/images/cora-logo.png" title="cora logo" alt="cora" />
          </figure>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/" class="active link">Home</a></li>
          <li><a href="/about" class="link">About us</a></li>
          <li><a href="/contact" class="link">Contact</a></li>
          <li><a href="/accounts/login" class="link">Login</a></li>
          <li><a href="/accounts/create-account" class="btn secondary-bg">Create
              Account</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main class="hero">
  <div class="__container __flex">
    <div class="text__wrapper" data-aos="fade-right">
      <h2>Make your money <br />at the comfort of <br />your house with</h2>
      <h1><strong>Cora Investment</strong></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        maiores sequi ipsa quo. Architecto distinctio libero aliquid odio
        blanditiis! Fugiat?</p>
    </div>
    <div class="link__wrapper" data-aos="fade-right">
      <a href="/user/create-account" class="btn primary-bg">Get Started</a>
      {{! <a href="/user/login" class="btn primary-bg">Login</a> }}
    </div>
  </div>
  <div class="main__cover"></div>
</main>

<section class="about">
  <div class="__container">
    <div class="__flex">
      <div
        data-aos="zoom-in-right"
        data-aos-delay="7000"
      >
        <div
          class="head__title"
          data-aos="fade-right"
          data-aos-duration="3000"
        >
          <h3>Who we are</h3>
        </div>
        <h2>What is <span>Cora Investment</span>?</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi
          aperiam accusamus mollitia. Possimus dolorum rem quae quo asperiores,
          error tempore. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Dolore, animi.
          <br />
          <br />
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto,
          incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Vero, autem!
        </p>
        <div class="link__wrapper">
          <a href="/about" class="btn primary-bg">Learn More</a>
        </div>
      </div>
      <div>
        <figure>
          <img src="/images/about.jpg" alt="people sharing ideas" />
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="plan">
  <div class="__container">
    <div class="head__title"><h3>Choose your plan</h3></div>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ducimus atque, iure itaque facilis ut exercitationem neque dolores dolorem
      provident laborum. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Atque, illo!</p>
    <div class="__flex">
      <div class="plan__card grey-bg">
        <figure>
          <img src="/images/plan.png" alt="goldshpere" title="plan image" />
        </figure>
        <div class="text__wrapper">
          <h4>Starter</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque</p>
        </div>
        <div class="price__tag secondary-bg">
          <p>N 5,000 <sup>Monthly</sup></p>
        </div>
        <div class="plan_privilege">
          <ul>
            <li class="good">Comprehensive teach on Trading</li>
            <li class="good">Fast & highly qualified support</li>
            <li class="good">Trader's calculator, performance statistics</li>
            <li class="bad">illo inventore veritatis</li>
            <li class="good">Charts trading, market order depth</li>
            <li class="bad">laudantium, totam rem aperiam</li>
          </ul>
        </div>
        <div class="link__wrapper">
          <a
            href="/user/create-account?plan=starter&ref=admin"
            class="btn secondary-bg"
          >Get Started</a>
        </div>
      </div>
      <div class="plan__card secondary-bg">
        <figure>
          <img src="/images/plan.png" alt="goldshpere" title="plan image" />
        </figure>
        <div class="text__wrapper">
          <h4>Vip</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque</p>
        </div>
        <div class="price__tag grey-bg">
          <p>N 5,000 <sup>Monthly</sup></p>
        </div>
        <div class="plan_privilege">
          <ul>
            <li class="good">Comprehensive teach on Trading</li>
            <li class="good">Fast & highly qualified support</li>
            <li class="good">Trader's calculator, performance statistics</li>
            <li class="bad">illo inventore veritatis</li>
            <li class="good">Charts trading, market order depth</li>
            <li class="bad">laudantium, totam rem aperiam</li>
          </ul>
        </div>
        <div class="link__wrapper">
          <a
            href="/user/create-account?plan=starter&ref=admin"
            class="btn grey-bg"
          >Get Started</a>
        </div>
      </div>
      <div class="plan__card grey-bg">
        <figure>
          <img src="/images/plan.png" alt="goldshpere" title="plan image" />
        </figure>
        <div class="text__wrapper">
          <h4>Super</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque</p>
        </div>
        <div class="price__tag secondary-bg">
          <p>N 5,000 <sup>Monthly</sup></p>
        </div>
        <div class="plan_privilege">
          <ul>
            <li class="good">Comprehensive teach on Trading</li>
            <li class="good">Fast & highly qualified support</li>
            <li class="good">Trader's calculator, performance statistics</li>
            <li class="bad">illo inventore veritatis</li>
            <li class="good">Charts trading, market order depth</li>
            <li class="bad">laudantium, totam rem aperiam</li>
          </ul>
        </div>
        <div class="link__wrapper">
          <a
            href="/user/create-account?plan=starter&ref=admin"
            class="btn secondary-bg"
          >Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial">
  <div class="__container">
    <div class="head__title"><h3>Testimonials</h3></div>
    <h2>What people say about&nbsp;<br /><span>Cora Investment</span></h2>
    <div class="testimonial__card">
      <div class="__flex">
        <figure>
          <img src="/images/quote.png" alt="quote tags" title="quote tags" />
        </figure>
        <div class="text__wrapper">
          <p>
            Mummichog paradise fish! Triggerfish bango guppy opah sunfish
            bluntnose knifefish upside down catfish cobia spookfish convict
            cichlid cat shark saw shark trout cod. Starry flounder sablefish
            yellowtail barracuda long finned char cookie cutter shark.
            Candlefish shortnose sucker tommy ruff: topminnow sablefish
            mahi-mahi tope; steelhead pike conger. Sandfish skate, hog sucker
            seatrout Atlantic saury dogfish convict blenny velvetbelly shark sea
            bream. Black triggerfish--flagfish regal
          </p>
          <p class="testimonial__title">
            <span class="line"></span>
            <span class="name">Alexander</span>
            &nbsp;/&nbsp;
            <span class="role">CEO Lexiz Tech</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial__cover"></div>
</section>

<section class="partners">
  <div class="__container">
    <div class="head__title"><h3>Brands</h3></div>
    <h2 class="section__title">People who partner with us</h2>
    <div class="__flex">
      <figure>
        <img src="/images/Logo-01.png" alt="" />
      </figure>
      <figure>
        <img src="/images/Logo-02.png" alt="" />
      </figure>
      <figure>
        <img src="/images/Logo-03.png" alt="" />
      </figure>
      <figure>
        <img src="/images/Logo-04.png" alt="" />
      </figure>
      <figure>
        <img src="/images/Logo-05.png" alt="" />
      </figure>
    </div>
  </div>
</section>

<footer>
  <div class="__container">
    <div class="__flex">
      <div class="item1">
        <div class="logo">
          <a href="/" class="logo">
            <figure>
              <img src="/images/cora-logo.png" alt="Cora" title="Cora" />
            </figure>
          </a>
        </div>
        <div class="social__icons">
          <a href="https://twitter.com">
            <figure>
              <i class="fa-brands fa-twitter"></i>
            </figure>
          </a>
          <a href="https://instagram.com">
            <figure>
              <i class="fa-brands fa-instagram"></i>
            </figure>
          </a>
          <a href="https://facebook.com">
            <figure>
              <i class="fa-brands fa-facebook"></i>
            </figure>
          </a>
          <a href="https://linkedin.com">
            <figure>
              <i class="fa-brands fa-linkedin"></i>
            </figure>
          </a>
        </div>
        <div class="rights">
          <p>&copy; 2023 Cora. All Rights Reserved</p>
        </div>
      </div>
      <div class="item__two">
        <div class="item__title">
          <h3>Address</h3>
        </div>
        <p>24 Bank Street, <br />Mainland, Emene <br />Enugu State</p>
      </div>
      <div class="item__three">
        <div class="item__title">
          <h3>Phone</h3>
        </div>
        <ul>
          <li><a href="tel:+2347043696226">+234 (0) 704 369 6229</a></li>
          <li><a href="tel:+2349039615758">+234 (0) 903 961 5758</a></li>
        </ul>
        <div class="item__title" style="margin-top: 40px;">
          <h3>Email</h3>
        </div>
        <ul>
          <li><a
              href="mailto:+lextechspec@gmail.com"
            >lextechspec@gmail.com</a></li>
          <li><a
              href="mailto:+lexizuchenna@gmail.com"
            >lexizuchenna@gmail.com</a></li>
        </ul>
      </div>
      <div class="item__four">
        <div class="item__title">
          <h3>Useful links</h3>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/accounts/login">Login</a></li>
          <li><a href="/contact">Contact</a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>